[Unit]
Description=Webserver
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/bin/sh -c "while true; do echo Webserver %i running; sleep 10; done"