# a@.service

[Unit]
Description=MyApp
After=docker.service
Requires=docker.service
Before=a_service_announcer@%i.service
Requires=a_service_announcer@%i.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill busybox1.%i
ExecStartPre=-/usr/bin/docker rm busybox1.%i
ExecStartPre=/usr/bin/docker pull busybox
ExecStart=/usr/bin/docker run --name busybox1.%i busybox /bin/sh -c "while true; do echo Hello World; sleep 1; done"
ExecStop=/usr/bin/docker stop busybox1.%i